body {
  background: linear-gradient(0deg, #000000 7%, #0a852f 54%, #000000 97%);
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 8px 8px 0 #000;
  max-width: 400px;
  width: 90%;
  padding: 20px;
  text-align: center;
}

.imgs {
  width: 100%;
  border-radius: 10px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #009e61;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0deg, #000000 0%, #009e61 100%);
  width: 100%;
  max-width: 320px;
  height: 100px;
  border-radius: 20px;
  box-shadow: 4px 6px 0 #000;
  padding: 0 20px;
  opacity: 0.9;
  margin: 20px 0;
}

.plan-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imgm {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.pplan {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: 0;
}

.spanchik {
  font-size: 15px;
  color: black;
  margin: 0;
}

.teg {
  font-size: 14px;
  color: #000;
  text-decoration: dotted;
}
.ppp {
  font-size: 16px;
  
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.blue {
  background-color: #054d52;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 0 black;
  font-weight: bold;
  transition: 0.2s;
  width: 200px;
}

.blue:hover {
  background: linear-gradient(0deg, #000000 0%, #009e61 100%);
}

.cancel {
  background-color: #009e61;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 3px 3px 0 black;
  font-weight: bold;
  transition: 0.2s;
  width: 150px;
}

.cancel:hover {
  background: linear-gradient(0deg, #000000 0%, #009e61 100%);
}